<head>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<h2><b>Your account</b></h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9 content">
        <div class="profile">
          <h3>My Profile</h3>
          <ul>
              <li><b>Email: </b>{{show_partner_profile.email}}</li>
              <li><b>User Name: </b>{{show_partner_profile.name}}</li>
              <li><b>Org Name: </b>{{show_partner_profile.org}}</li>
          </ul>
        </div>
        <br>
        <div class="test-api-cred">
            <h3>Test API Credentials</h3>
            <ul>
                <li><b>Client ID: </b>{{show_partner_profile.clientID}}</li>
                <li><b>Client Secret: </b>{{show_partner_profile.clientSecret}}</li>
            </ul>
        </div>
        <br>
        <div *ngIf="permitted" class="payment-rules">
          <h3>Rules and restrictions</h3>
          <ul>
              <li><b>Your Account number: </b>{{show_payment_rules.accno}}</li>
              <li><b>Payment amount per day limit: </b>{{show_payment_rules.amnt}}</li>
              <li><b>Payment frequency: </b>{{show_payment_rules.freq}}</li>
              <li><b>Application ID: </b>{{show_payment_rules.appid}}</li>
          </ul>
        </div>
    </div>
  </div>
</div>
