.step1{
  text-align: center;
}

.step1 .btn{
  background-color: #5A60B8;
  border-color: #5A60B8;
}

.step1 .btn:hover{
  background-color:#434999 ;
  border-color: #434999;
}


.step2 h3{
  border-bottom: solid 2px #5a60b8;
  padding-bottom: 11px;
}

.form-group{
  padding: 30px 0px 30px 0px;
}
