<!-- ===========================Step 2.1============================ -->
<div class="step1">
  <br>
  <h3>Confirm interest</h3>
  <div class="shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 22rem;">
    <div *ngIf="!interestsubmit; else elseBlock">
      <p>After you click submit, we'll approve your interest and respond you in registered email for further procedure</p>
      <button type="button" (click)="onInterestSubmit()" class="btn btn-primary">Submit</button>
    </div>
    <ng-template #elseBlock>
      <br>
      <h4>Thank you for your interest.</h4>
      <h6>Come back after approval.</h6>
      <br>
    </ng-template>
  </div>
</div>


<!-- =====================Step 2.2===================== -->
<!-- <div class="step2">
  <br>
  <div class="shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 41rem;">
    <h3>Document upload</h3>
    <form [formGroup]="fileForm" (ngSubmit)="onfileSubmit()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
              <label for="UploadCertificate1"><b>Aadhar card</b></label>
              <input type="file" formControlName="file1" class="form-control" id="UploadCertificate1" placeholder="Browse">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
              <label for="UploadCertificate2"><b>PAN card</b></label>
              <input type="file" class="form-control" formControlName="file2" id="UploadCertificate2" placeholder="Browse">
          </div>
        </div>
      </div>
    </form>
  </div>
</div> -->

<div>
  <form action="/route/handlefiles" method="POST" enctype="multipart/form-data">
    <input type="file" name="myFile">
    <!-- <input type="file" (change)="onFileSelected($event)"> -->
    <button type="submit" >Upload</button>
  </form>
</div>