<!-- ===========================Step 2.1============================ -->
<div class="step1">
  <br>
  <h3>Confirm interest</h3>
  <div class="shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 22rem;">
    <div *ngIf="!interestsubmit; else elseBlock">
      <p>After you click submit, we'll approve your interest and respond you in registered email for further procedure</p>
      <button type="button" (click)="onInterestSubmit()" class="btn btn-primary">Submit</button>
    </div>
    <ng-template #elseBlock>
      <br>
      <h4>Thank you for your interest.</h4>
      <h6>Come back after approval.</h6>
      <br>
    </ng-template>
  </div>
</div>


<!-- =====================Step 2.2===================== -->
<div class="step2">
  <br>
  <div class="shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 41rem;">
    <h3>Document upload</h3>
    <form [formGroup]="fileForm" action="http://localhost:3000/files/fileupload" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
              <label for="UploadCertificate1"><b>Aadhar card</b></label>
              <input type="file" (change)="fileChange($event)" formControlName="file1" class="form-control" id="UploadCertificate1" placeholder="Browse" #file1>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
              <label for="UploadCertificate2"><b>PAN card</b></label>
              <input type="file" class="form-control" formControlName="file2" id="UploadCertificate2" placeholder="Browse">
          </div>
        </div>
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>
</div> 

<!-- <form action="/files/fileupload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file">
</form> -->
