<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="apiproductsfull">
  <div class="apiproductsheader">
    <h3><b>API Products</b></h3><br>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span><img [src]=image></span>
              <div class="forsameline">
                <h4><a>ATM Branch Locator</a></h4>
              </div>
              <div>
                  <span class="fa fa-star-o checked"></span>
                  <span class="fa fa-star-o checked"></span>
                  <span class="fa fa-star-o checked"></span>
                  <span class="fa fa-star-o checked"></span>
                  <span class="fa fa-star-o checked"></span>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Title</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
