<ngb-carousel>
  <ng-template ngbSlide>
    <img [src]="image" alt="Random first slide">
    <div class="carousel-caption">
      <h2>
        Brace Yourselves.
        <br>
        APIs are coming.
      </h2>
      <p>
        Explore, subscribe to and be creative with our APIs.
        <br>
        We can't wait to see what you come up with!
      </p>
      <a routerLink="/home">Explore API Documentation</a>

    </div>
  </ng-template>
</ngb-carousel>

<br><br>

<div class="apiproductsfull">
  <div class="apiproducts">
    <h3>API Products</h3>
    <a routerLink="/apiproducts">See all products</a>
  </div>

  <div class="row">
        <div class="col-sm-4" *ngFor=" let api of apilist">
            <div class="card">
                <div class="card-body">
                  <a routerLink="/home"><h5 class="card-title">{{api | uppercase}}</h5></a>
              </div>
        </div>
    </div>
</div>

<!-- 
<form [formGroup]="tushar" action="/files/fileupload" method="POST" enctype="multipart/form-data">
  <input formControlName="file" type="file" name="file">
</form> -->