<ngb-carousel>
  <ng-template ngbSlide>
    <img [src]="image" alt="Random first slide">
    <div class="carousel-caption">
      <h2>
        Brace Yourselves.
        <br>
        APIs are coming.
      </h2>
      <p>
        Explore, subscribe to and be creative with our APIs.
        <br>
        We can't wait to see what you come up with!
      </p>
      <a routerLink="/home">Explore API Documentation</a>

    </div>
  </ng-template>
</ngb-carousel>

<br><br>
<div class="container-guide">
    <div class="container-content">
      <div class="row">
        <div class="col-sm-8">
          <h3>
            Find out how to get credentials, build a test project, and connect to sandbox.
          </h3>
        </div>
        <div class="col-sm-4">
          <div class="content-button">
            <a routerLink="/home">Work with all bank APIs</a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="apiproductsfull">
  <div class="apiproducts">
    <h3>API Products</h3>
    <a routerLink="/apiproducts">See all products</a>
  </div>

  <div class="row">
        <div class="col-sm-4" *ngFor=" let api of apilist">
            <div class="api-card card">
                <div class="api-card-body card-body">
                  <a routerLink="/home"><h5 class="card-title">{{api | uppercase}}</h5></a>
              </div>
        </div>
    </div>
</div>

<div class="back2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2> ABOUT US </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hello</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <button class="Overview btn services" type="button"> See Services </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hello</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <button class="Overview btn services " type="button"> See Services </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hello</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <button class="Overview btn services " type="button"> See Services </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>