.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown{
  border-radius:0;
  border:0;
}
.dropdown-menu{
  border:0;
  top:80%;
  border-radius:5px 5px 5px 5px;
}

.seperateLi{
  margin-left: 20px;
}

.material-icons{
  margin-right: 5px;
}


a{
  text-decoration: none;
  // color: #047cc0;
}

i{
  margin-right: 10px;
}

.navbar{
  padding: 0px ;
}
