<div class="gettingstarted-body">
  <div class="gettingstarted-header">
    <h2><b>1. Quick Sign-up</b></h2>
    <div class="signup-content">
      <p><b>Having done this step you'll get necessary credentials to test our API products in IBM sandox environment</b></p>
      <p>Steps:</p>
      <ul>
        <li>Provide Details such as User name, Email, Organization name and set password.</li>
        <li>Wait for the Email for credentials and sandbox environment link.</li>
      </ul>
      <button type="button" routerLink="/quickSignup" class="btn btn-primary btn-lg">Sign Up</button>
    </div>
    <h2><b>2. Register Interest</b></h2>
    <div class="register-interest">
      <p><b>This step will let you use the actual PROD environment into your awesome app!</b></p>
      <h4>2.1 Initial Registration</h4>
      <ul>
        <li>Just show up your interest in our API Products by clicking on <b>'Register Interest'</b> button below.</li>
        <li>Wait for the reply from Business manager to proceed next.</li>
      </ul>
      <h4>2.2 Upload Documnents</h4>
      <ul>
        <li>Having approved by Business manager.</li>
        <li>Upload documents such as PAN, Aadhar, License as requested by Business Manager</li>
        <li>After approval, get your awesome app started!</li>
      </ul>
      <button type="button" routerLink="/reginterest" class="btn btn-primary btn-lg">Register Interest</button>
    </div>
  </div>
</div>
