.gettingstarted-body{
  margin: 24px 48px;
  padding: 0px 15px;
}

.gettingstarted-header>h2{
  border-bottom: solid 2px #5a60b8;
  padding-bottom: 11px;
}

.signup-content{
  margin: 24px 48px;
  padding: 0px 15px;
}

.signup-content li{
  padding: 5px 0px 5px 0px;
}

.register-interest{
  margin: 24px 48px;
  padding: 0px 15px;
}

.register-interest li{
  padding: 5px 0px 5px 0px;
}
